body {
	text-align: center;
	/* height: max-content; */
}

header{
	background: radial-gradient(#92ee97, rgb(29, 161, 5));
	border-radius: 1em;
}
h1{
	padding: 0;
	margin: 0;
}
button {
	border-radius: 10px;
	font-size: 14px !important;
	font-weight: 500 !important;
	width: 110px;
	margin: 10 20px;
}
p{
	display: inline-block;
	font-size: 22px;
}
#scoreCard {
	background: chartreuse;
	height: 2em;
	color:black;
	border-radius: 1em;
}
#grid {
	margin-top: 2rem;
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 5px;
}

.home {
	position: relative;
	/* top: 120px; */
	bottom: 0;
	width: 100px;
	height: 40px;
	border-radius: 60%;
	background: brown;
}
.hole {
	margin: auto;
	padding-top: 1em;
	/* text-align: center; */
	height: 180px;
}



.hole > .squirell {
	cursor: pointer;
	/* bottom: 40px; */
	left: 0;
	top: 20px;
	margin: auto;
	margin-left: -10px;
	width: 55px;
	height: 85px;
}
.hole > .net {
	position: absolute;
	margin-top: -80px;
	margin-left: -60px;
	z-index: 1;
	width: 200px;
	height: 200px;
}
 
.net {
	background: transparent;
}
.hide {
	/* display: none; */
	visibility: hidden;
}

.slideIn {
	visibility: visible;
	display: inline-block;
	animation: slide-in-bottom 500ms;
}

.net-active {
	visibility: visible;
	display: inline;
	/* animation: slide-in-tr 300ms; */
}


#timer {
	position: fixed;
	right: 3rem;
	top: 6rem;
	z-index: 1;
	background: rgba(12, 5, 3, 0.349);
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

#timeTag {
	position: absolute; 
	color: white;
	opacity: 1;
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2em;
}

footer {
	bottom: 0px;
	font-weight: bolder;
	color: rgb(255, 255, 255);
}


/* ----------------------------------------------
 * Generated by Animista on 2021-10-31 18:39:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 /* ----------------------------------------------
 * Generated by Animista on 2021-11-1 10:41:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-tr
 * ----------------------------------------
 */
 /* ----------------------------------------------
 * Generated by Animista on 2021-11-1 14:3:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


@-webkit-keyframes slide-in-tr {
	0% {
	  -webkit-transform: translateY(-100px) translateX(100px);
			  transform: translateY(-100px) translateX(100px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0) translateX(0);
			  transform: translateY(0) translateX(0);
	  opacity: 1;
	}
  }
  @keyframes slide-in-tr {
	0% {
	  -webkit-transform: translateY(-100px) translateX(100px);
			  transform: translateY(-100px) translateX(100px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0) translateX(0);
			  transform: translateY(0) translateX(0);
	  opacity: 1;
	}
  }
  

  
 @-webkit-keyframes slide-in-bottom {
	0% {
	  -webkit-transform: translateY(100px);
			  transform: translateY(100px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity: 1;
	}
  }
  @keyframes slide-in-bottom {
	0% {
	  -webkit-transform: translateY(100px);
			  transform: translateY(100px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity: 1;
	}
  }
  